*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    left: 1240px;
}


.navigation a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: black;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .6s;
}

.navigation a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

#moonicon{
    position: relative;
    width: 30px;
    height: 30px;
    left: 1290px;
    top: 7px;
    cursor: pointer;
    transition: .5s;
}


#moonicon:hover{
    border-radius: 50%;
    background: rgb(255, 255, 255);
    width: 30px;
    height: 30px;
}

#sunicon{
    position: relative;
    width: 30px;
    height: 30px;
    left: 1320px;
    top: 7px;
    cursor: pointer;
    transition: .5s;
}


#sunicon:hover{
    border-radius: 50%;
    background: rgb(251, 255, 0);
    width: 30px;
    height: 30px;
}


